/* Class called 'red' that can be used wherever we wamt */
.red{
    color: red;
}

ol li{
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table,table tr th, table tr td{
    border: 1px  black solid;
    border-spacing: 0px;
    border-collapse: collapse;
}